

  *{
    padding: 0px;
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    color: whitesmoke;
  }
  




  html{
    background-color: #121212;
    background-image: url(sq.png);
    background-size: cover;
    scroll-behavior: smooth;
  }
  


 
h1{
  font-size: 70px;
}


 
  #menu{
    z-index: 2;
  }

  nav #contact a {
  color: rgba(184,55,230,1) !important;
  }

  nav{
    border-radius: 20px;
    text-align: center;
    background: hsla(0, 0%, 100%, 0.8);
    width: 100%;
    position: fixed;
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
  }
  
  ul li{
    display: inline-block;
    list-style-type: none;
  }
  
  li{
    margin: 20px 30px;
  }
  
  nav a{
    text-decoration: none;
    color: black;
  }
  
  nav a:hover{
    color: rgba(184,55,230,1);
  }
  







.dane{
  margin: 0 auto;
  max-width: 700px;
  color: whitesmoke;
  font-size: 25px;
  padding: 7px 15px;
  text-align: center;
  position: relative;
  top: 150px;
  text-shadow: 0 0 2px rgba(112,133,220,1), 0 0 10px rgba(112,133,220,1), 0 0 20px rgba(112,133,220,1);
}

/*
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 20px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
  color: black;
}



input[type=submit] {
  background-color: rgba(107,228,163,1);
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: rgba(184,55,230,1);
  color: whitesmoke;
}


.container {
  background: rgba(41, 41, 41, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(112,133,220,0.35);
  border-radius: 20px;
  padding: 20px;
  max-width: 800px;
  margin: 150px auto;
  position: relative;
  top: 150px;
}
*/


.kontkat{
margin: 350px auto;
max-width: 900px;
max-height: 700px;
font-size: 20px;
margin: 350px auto;
color: whitesmoke;
background-color: rgb(38, 38, 38);
border-radius: 20px;
box-shadow: 0 0 10px rgba(112,133,220,1), 0 0 40px  rgba(112,133,220,1), 0 0 80px  rgba(112,133,220,1);
padding: 50px;
}

.bcard{
 margin: 0 auto;
  text-align: left;
}

.thanks{
  margin: 50px;
  font-size: 40px;
  text-align: center;
}

.mail{
  margin: 50px;
}

.mail h3{
color: rgba(112,133,220,1);
}

.mail a{
  text-decoration: none;
  margin-left: 50px;
}

.tel{
  margin: 50px;
}

.tel h3{
color: rgba(112,133,220,1);
}

.tel a{
  text-decoration: none;
  margin-left: 50px;
}


  footer{
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    color: whitesmoke;
  }




  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }



::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #121212; 
}


::-webkit-scrollbar-thumb {
  background: rgba(184,55,230,1); 
  border-radius: 20px;
}


::-webkit-scrollbar-thumb:hover {
  background: rgba(107,228,163,1); 
}