*{
  padding: 0px;
  margin: 0px;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
}

html{
min-height: 700px;
background-color: #121212;
scroll-behavior: smooth;
}







#menu{
  z-index: 66;
}

nav #exp a {
color: rgba(184,55,230,1) !important;
}

nav{
  border-radius: 20px;
  text-align: center;
  background: hsla(0, 0%, 100%, 0.8);
  width: 100%;
  position: fixed;
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
}

ul li{
  display: inline-block;
  list-style-type: none;
}

li{
  margin: 20px 30px;
}

nav a{
  text-decoration: none;
  color: black;
}

nav a:hover{
  color: rgba(184,55,230,1);
}




  .countup {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    top: 250px;
    margin-top: 100px;
  }
  .countup .timeel {
    display: inline-block;
    padding: 10px;
    background: rgba(107,228,163,1);
    margin: 0;
    margin-top: 50px !important;
    color: black;
    min-width: 2.6rem;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(107,228,163,1), 0 0 30px rgba(107,228,163,1), 0 0 60px rgba(107,228,163,1);
  }
  .countup span[class*="timeRef"] {
    border-radius: 10px;
    margin-left: 5px;
    background: rgba(184,55,230,1);
    color: whitesmoke;
    box-shadow: 0 0 8px rgba(184,55,230,1), 0 0 30px rgba(184,55,230,1), 0 0 60px rgba(184,55,230,1);
  }


  .tyt{
    font-size: 33px;
    position: relative;
    top: 200px;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 2px rgba(112,133,220,1), 0 0 10px rgba(112,133,220,1), 0 0 20px rgba(112,133,220,1);
  }










  footer{
    color: whitesmoke;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }





  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }


::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #121212; 
}


::-webkit-scrollbar-thumb {
  background: rgba(184,55,230,1); 
  border-radius: 20px;
}


::-webkit-scrollbar-thumb:hover {
  background: rgba(107,228,163,1); 
}
#hamburger-btn {
  display: none; /* Ukryj przycisk na początku */
}


/* Dodane media queries dla dostosowania do urządzeń mobilnych */

/* Dla ekranów o maksymalnej szerokości 768px */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px; /* Zmniejszenie rozmiaru czcionki dla lepszej czytelności */
    zoom: 0.8;
    min-height: 1100px;
  }

  #menu {
    margin: 20px 0; /* Skrócenie marginesu dla lepszego dostosowania menu nawigacyjnego */
  }

  nav ul {
    flex-direction: column; /* Ustawienie elementów listy w kolumnie dla lepszego układu na małych ekranach */
  }

  nav li {
    margin: 10px 0; /* Skrócenie marginesów elementów listy */
  }

}

#hamburger-btn {
  display: none; /* Ukryj przycisk na początku */
  position: absolute; /* Zmiana na absolutną */
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 40px;
  color: rgba(112,133,220,1);
  cursor: pointer;
  z-index: 9999; /* Ustaw z-index, aby przycisk był na wierzchu */
}

@media screen and (max-width: 768px) {
  #menu {
    display: none; /* Ukryj menu na początku na małych ekranach */
    position: absolute;
    top: -10px; /* Ustawienie odległości od góry ekranu */
    left: 0;
    width: 100%;
    text-align: center;
    background:hsla(0, 0%, 100%, 0.8); /* Tło menu */
    padding: 20px 0; /* Dodatkowy padding dla lepszego wyglądu */
    z-index: 999; /* Ustaw z-index, aby menu było na wierzchu */
  }

  #menu.open {
    display: block; /* Pokaż menu po kliknięciu */
    font-size: 100px;
  }

  .countup{
    width: 100%;
    margin-top: -50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .countup
  span{
    width: 30%;
  }

  nav ul {
    margin-top: -10px ;
    list-style-type: none;
    padding: 0;
  }

  nav li {
    display: block; /* Wyświetlaj każdy element <li> jako blok */
    margin: 10px; /* Dodatkowy odstęp między elementami */
  }

  nav a {
    display: block; /* Wyświetlaj linki jako bloki */
    text-decoration: none;
    color: black;
    font-size: 30px;
  }


  #hamburger-btn {
    display: block; /* Pokaż przycisk hamburgera na małych ekranach */
  }

}
