*{
    padding: 0px;
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
  }
  







  html{
    min-height: 100%;
    scroll-behavior: smooth;
  }
  







 
  #menu{
    margin: -150px 20px 20px 0;
    z-index: 1;
  }

nav #main a {
  color: rgba(184,55,230,1) !important;
}

  nav{
    border-radius: 20px;
    text-align: center;
    background: hsla(0, 0%, 100%, 0.8);
    width: 100%;
    position: fixed;
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
  }
  
  ul li{
    display: inline-block;
    list-style-type: none;
  }
  
  li{
    margin: 20px 30px;
  }
  
  nav a{
    text-decoration: none;
    color: black;
  }
  
  nav a:hover{
    color: rgba(184,55,230,1);
  }
  







  body {
   
    color: #fff;
  --var-color: rgba(107,228,163,1);
  background-image: url(odessa11.jpg);
  background-repeat: initial;
  background-size: cover;
  }
  


.front{
  transform: translate(0, 100px);
}

.end{
  transform: translate(0, 100px);
}




  h1{
  
    text-align: center;
    margin-top: 150px;
    font-size: 80px;
  }
  

  div
  .line{
    width: 450px;
    margin: 0 auto;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
    border-radius: 20px;
  }
  
   hr{
    width: 200px;
    margin: 0 auto;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
    border-radius: 20px;
    margin-top: 150px;
    transform: translate(0, 50px);
  }









  #title2 {
    text-align: center;
    margin-top: 150px;
    font-size: 40px;

  }
  
  h3{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 30px;
  }


  .neon {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 600px;
    text-align: center;
    transform: translate(0, -4rem);
  }

  
.light{
  font-size: 3rem;
  color: var(--var-color);
  position: relative;
  font-weight: bold;
}

.light::before {
  position: absolute;
  content: attr(data-text);
  text-shadow: 0px 0px 20px var(--var-color);
  filter: blur(10px) brightness(0);
  animation: flicker 2s linear forwards;
  animation-delay: 1s;
}

@keyframes flicker{
  0%{
    filter: blur(5px) brightness(1);
  }
  2%{
    filter: blur(5px) brightness(0);
  }
  6%{
    filter: blur(5px) brightness(0);
  }
  7%{
    filter: blur(5px) brightness(1);
  }
  8%{
    filter: blur(5px) brightness(0);
  }
  9%{
    filter: blur(5px) brightness(1);
  }
  10%{
    filter: blur(5px) brightness(0);
  }
  20%{
    filter: blur(5px) brightness(1);
  }
  40%{
    filter: blur(5px) brightness(1);
  }
  99%{
    filter: blur(5px) brightness(0);
  }
  100%{
    filter: blur(5px) brightness(1);
  }
}





  #project1{
    margin-top: 200px;
    text-align: left;
    max-width: 600px !important;
    font-size: 30px;
  } 


  #ostatnie p{
    margin: 5px 50px ;
    text-align: left;
    max-width: 600px;
    font-size: 15px;
  }

  #ostatnie a {
    position: absolute;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    color: whitesmoke;
  }

  a svg,
  a svg rect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
  }

  a svg rect{
    stroke: whitesmoke;
    stroke-width: 4;
    transition: 2s;
    stroke-dasharray: 60 200;
    stroke-dashoffset: 300;
  }

  a:hover svg rect{
    stroke: rgba(107,228,163,1);
    stroke-dasharray: 200 60;
    stroke-dashoffset: 0;
  }

  #ostatnie a:hover{
    color: rgba(107,228,163,1);
  }








#project4{
  float: right;
  margin: 200px 50px ;
  text-align: right;
  max-width: 600px;
  font-size: 30px;
}

.upper{
  max-width: 600px;
}





#pg{
  float: right;
}

#pg a {
 margin-top: 280px;
  right: 0;
  margin-right: 50px;
  position: absolute;
  display: inline-block;
  padding: 15px 30px;
  color: rgba(107,228,163,1);
  letter-spacing: 4px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  border: rgba(107,228,163,0.2) 1px solid;
}

#pg a:hover{
  color: whitesmoke;
  background: rgba(107,228,163,1);
  box-shadow: 0 0 10px rgba(107,228,163,1), 0 0 40px rgba(107,228,163,1), 0 0 80px rgba(107,228,163,1);
  transition-delay: 1s;

}

#pg a span{
  position: absolute;
  display: block;
}

#pg a span:nth-child(1){
top: 0;
left: -100%;
width: 100%;
height: 2px;
background: linear-gradient(90deg, transparent, rgba(107,228,163,1));
}

#pg a:hover span:nth-child(1){
left: 100%;
transition: 1s;
}

#pg a span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgba(107,228,163,1));
  }
  
  #pg a:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
  }

  #pg a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgba(107,228,163,1));
    }
    
    #pg a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
    }

    #pg a span:nth-child(4){
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, rgba(107,228,163,1));
      }
      
      #pg a:hover span:nth-child(4){
      bottom: 100%;
      transition: 1s;
      transition-delay: 0.75s;
      }
  








footer{
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}





.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#mypage {
  display: none;
  text-align: center;
}


#loader {
  display: inline-block;
  position: absolute;
  width: 80px;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
}

#loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgba(107,228,163,1);
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
#loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
#loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
#loader div:nth-child(3) {
  left: 56px;
}
@keyframes loader{
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}




::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #121212; 
}


::-webkit-scrollbar-thumb {
  background: rgba(184,55,230,1); 
  border-radius: 20px;
}


::-webkit-scrollbar-thumb:hover {
  background: rgba(107,228,163,1); 
}

/* Dodane media queries dla dostosowania do urządzeń mobilnych */

/* Dla ekranów o maksymalnej szerokości 768px */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px; /* Zmniejszenie rozmiaru czcionki dla lepszej czytelności */
  }

  #menu {
    margin: 20px 0; /* Skrócenie marginesu dla lepszego dostosowania menu nawigacyjnego */
  }

  nav ul {
    flex-direction: column; /* Ustawienie elementów listy w kolumnie dla lepszego układu na małych ekranach */
  }

  nav li {
    margin: 10px 0; /* Skrócenie marginesów elementów listy */
  }

  .neon {
    transform: translate(0, -2rem); /* Przesunięcie efektu neonu dla lepszej widoczności */
  }

  h1 {
    font-size: 60px; /* Zmniejszenie rozmiaru nagłówka */
    margin-top: 100px; /* Skrócenie marginesu dla lepszego wyglądu */
  }

  hr.line {
    width: 80%; /* Zmniejszenie szerokości linii */
  }

  hr {
    margin-top: 100px; /* Skrócenie marginesu dla lepszej widoczności */
  }

  #title2 {
    font-size: 30px; /* Zmniejszenie rozmiaru czcionki */
    margin-top: 100px; /* Skrócenie marginesu dla lepszej widoczności */
  }

  h3 {
    font-size: 20px; /* Zmniejszenie rozmiaru czcionki */
    margin-top: 30px; /* Skrócenie marginesu */
  }

  #ostatnie p {
    margin: 5px 20px; /* Skrócenie marginesów */
    font-size: 14px; /* Zmniejszenie rozmiaru czcionki */
  }

  #ostatnie a {
    margin-top: 20px; /* Skrócenie marginesu */
    width: 150px; /* Zmniejszenie szerokości przycisku */
    height: 50px; /* Zmniejszenie wysokości przycisku */
    line-height: 50px; /* Dopasowanie linii do wysokości przycisku */
  }

  #project1 {
    margin-top: 150px; /* Skrócenie marginesu dla lepszego układu */
    font-size: 24px; /* Zmniejszenie rozmiaru czcionki */
  }

  #project4 {
    margin-top: 150px; /* Skrócenie marginesu dla lepszego układu */
    font-size: 24px; /* Zmniejszenie rozmiaru czcionki */
  }
  #pg a {
    float: none; /* Anuluj ustawienia dla małych ekranów */
    margin-top: 220px;
  }

  #pg  {
    margin-top: 100px; /* Drobne dostosowanie marginesów */
  }

}

#hamburger-btn {
  display: none; /* Ukryj przycisk na początku */
  position: absolute; /* Zmiana na absolutną */
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 40px;
  color: rgba(112,133,220,1);
  cursor: pointer;
  z-index: 9999; /* Ustaw z-index, aby przycisk był na wierzchu */
}

@media screen and (max-width: 768px) {
  #menu {
    display: none; /* Ukryj menu na początku na małych ekranach */
    position: absolute;
    top: -10px; /* Ustawienie odległości od góry ekranu */
    left: 0;
    width: 100%;
    text-align: center;
    background:hsla(0, 0%, 100%, 0.8); /* Tło menu */
    padding: 20px 0; /* Dodatkowy padding dla lepszego wyglądu */
    z-index: 999; /* Ustaw z-index, aby menu było na wierzchu */
  }

  #menu.open {
    display: block; /* Pokaż menu po kliknięciu */
    font-size: 100px;
  }

  nav ul {
    margin-top: -10px ;
    list-style-type: none;
    padding: 0;
  }

  nav li {
    display: block; /* Wyświetlaj każdy element <li> jako blok */
    margin: 10px; /* Dodatkowy odstęp między elementami */
  }

  nav a {
    display: block; /* Wyświetlaj linki jako bloki */
    text-decoration: none;
    color: black;
    font-size: 30px;
  }


  #hamburger-btn {
    display: block; /* Pokaż przycisk hamburgera na małych ekranach */
  }

}



